$fa-font-path: './font-awesome/webfonts';
// color variables
$primary: #fdb813;
$info: #2e434e;
$link: #fdb813;
$success: #18c139;

// button variables
$button-color: #fff !important;
$button-padding-vertical: 1.7em;
$button-border-width: 0;
$button-border-color: transparent;
// font variables
$family-sans-serif: 'GothamLight', sans-serif;

// column variable
$column-gap: 5px;

