@import './styles/base/lib';
@import './styles/base/base';

@font-face {
  font-family: GothamMedium;
  src: url('./fonts/GothamMedium_1.ttf');
}
@font-face {
  font-family: GothamLight;
  src: url('./fonts/GothamLight.ttf');
}
